:root{
  --white:#fff;
}
html,
body{height:100%; min-height:100%; background-color:#fff; color:#000; font-family: 'Roboto', sans-serif;  font-size:15px; display:-webkit-box;display:-ms-flexbox;display:flex;min-height: 100vh;-ms-flex-direction:column; flex-direction:column;}
.full-box-link{height:100%; width:100%; left:0; top:0; display:block; position:absolute;}
*:focus,
button:focus{outline:none;}
.object-fit-cover{-o-object-fit:cover; object-fit:cover; width:100%;}
ul,ul li{padding:0; list-style:none; margin:0;}
p,h1,h2,h3,h4,h5,h6{ margin:0;}
a,i,
a:hover,
a:focus{color: inherit; text-decoration: none; transition: all 0.3s;}

main{flex: 1 0 auto; -webkit-box-flex:1;}
.for-sprite-call,
.for-before-sprite::before,
.for-after-sprite::after,
.offer-review-box .owl-theme .owl-nav [class*="owl-"]{background:url(../images/sprite.svg) no-repeat;}
.d-none-d{display:none;}

.container-fluid{padding-left:50px; padding-right:50px;}
header.inner-page-header{background-color:#fff; border-bottom:1px solid #E2E2E2; padding:15px 0}
header.inner-page-header .brand-logo{width:160px;}

header{padding:15px 20px 15px 0;}
header .login{margin:0 30px 0 0;}
header .login a{color:#989898;}
header .login a:hover{color:#000;}
header .login a .ic-user{background-position:-326px -1px; width:14px; height:17px; display:inline-block; margin:0 10px 0 0;}
header .login a:hover .ic-user{background-position:-326px -20px;}
header .category .ic-category{background-position:-350px -33px; height:25px; width:25px; display:inline-block;}
header .category:hover .ic-category{background-position:-350px -61px;}
.search-part{padding:10px 0 35px;}
.search-part .brand-name{width:220px; margin:0 auto 20px;}
.search-suggestions{max-width:750px; margin:0 auto; width:100%;}
.search-suggestions .ic-search{background-position:-270px -0; width:30px; height:30px; display:block;}
.search-suggestions .form-control{height:auto; border-color:#AAA; border-radius:40px 0 0 40px; padding:22px 25px;}
.search-suggestions .voice-search{height:30px; width:30px; background-position:-240px 0; position:absolute; z-index:4; left:auto; right:80px; bottom:0; top:0; margin:auto;}
.search-suggestions .form-control:focus{box-shadow:none;}
.search-suggestions .btn-secondary{background-color:#E5E5E5; border-color:#AAA; border-radius:0 40px 40px 0; padding:10px 20px;}
.search-suggestions .btn-secondary:hover,
.search-suggestions .btn-secondary:focus,
.search-suggestions .btn-secondary:active,
.search-suggestions .btn-secondary:not(:disabled):not(.disabled).active,
.search-suggestions .btn-secondary:not(:disabled):not(.disabled):active,
.search-suggestions .show > .btn-secondary.dropdown-toggle{background-color:#E5E5E5; border-color:#AAA; box-shadow:none !important;}
.search-suggestions .input-group{margin-bottom:20px;}
.search-suggestions .bhasha a + a{margin-left:3px;}
.search-suggestions .bhasha a:hover{text-decoration:underline;}
.search-suggestions .suggestions-results{display:none;}
.search-suggestions.suggestions-des .suggestions-results{display:block; position:absolute; left:0; max-height: 270px; overflow: auto; right:0; background-color:#fff; padding:20px; top:69px; border-color:#AAA; border-style:solid; border-width:0 1px 1px 1px; border-radius:0 0 30px 30px; z-index:2; box-shadow:5px 7px 10px rgba(0,0,0,0.2);}
.suggestions-results li + li{margin-top:20px;}
.suggestions-results li a{color:#707070; position:relative; padding:0 0 0 40px;}
.suggestions-results li a::before{height:20px; width:20px; display:inline-block; background-position:-326px -41px; position:absolute; content:""; left:0; top:2px}
.suggestions-results li a:hover::before{background-position:-326px -63px;}
.search-suggestions.suggestions-des .suggestions-results li a:hover{color:#000;}
.search-suggestions.suggestions-des .input-group{border-right:1px solid #AAA; border-radius:0 40px 0 0;}
.search-suggestions.suggestions-des .form-control{border-radius:35px 0 0 0;}
.cursor-pointer {
    cursor: pointer;
}
a.btn-order-now {
    min-width: fit-content;
}
.cursor-pointer:hover{transform:scale(1.03);}
.left-side-bar{background-color:#F9FAFC; height:100vh; min-height:100%; overflow-y:auto; width:250px; border-right:1px solid #EFEFEF;}
.scroll-height-side-bar{height:calc(100% - 20px)}
.left-side-bar ul{margin-top:20px;}
.left-side-bar ul li{padding:3px 10px;}
.left-side-bar ul li a{line-height:1; padding:12px 5px;  display:-ms-flexbox;display:flex; -ms-flex-align:center;align-items:center; font-weight:400; text-align: left;}
.left-side-bar ul li + li{margin-top:10px;}
.left-side-bar ul li a{color:#707070;}
.left-side-bar ul li.active a,
.left-side-bar ul li a:hover{color:#000;}
.left-side-bar ul li .ic-menu{height:30px; width:30px; margin-right:15px; display:inline-block;}
.left-side-bar ul li .ic-cab-booking{background-position:0 0;}
.left-side-bar ul li .ic-society-req{background-position:-30px 0;}
.left-side-bar ul li .ic-grocery{background-position:-60px 0;}
.left-side-bar ul li .ic-book-service{background-position:-90px 0;}
.left-side-bar ul li .ic-book-appo{background-position:-120px 0;}
.left-side-bar ul li .ic-car-service{background-position:-150px 0;}
.left-side-bar ul li .ic-news{background-position:-180px 0;}
.left-side-bar ul li .ic-rewards{background-position:-210px 0;}
.right-side-bar{width:calc(100% - 260px);  display:-webkit-box;display:-ms-flexbox;display:flex;min-height: 100vh;-ms-flex-direction:column; flex-direction:column;}
.right-side-bar main{padding:20px;}
.offer-review-box{width:315px; background-color:#EFEFEF; border-radius:10px; padding:15px;}
.offer-review-box .img-part{width:100%; height:100px; overflow:hidden; border-radius:12px; margin:14px 0;}
.offer-review-box .img-part img{height:115px;}
.offer-review-box .the-title h2,
.offer-review-box .store-name-review h2{font-size:16px;}
.star-r{margin:5px 0;}
.star-r .star-img{height:16px; width:16px; display:inline-block;}
.star-r .fill-star{background:url(../images/fill_star.svg);}
.star-r .blank-star{background:url(../images/blank_star.svg)}
.star-r .star-icon{margin-left:8px; position:relative; top:2px;}
.offer-review-box .store-name-review p{font-size:14px; font-weight:700;}
.offer-review-box .store-name-review .star-r p,
.star-r p{font-size:20px; font-weight:700; line-height:1;}
.offers-reviews{width:100%; max-width:1090px; margin:0 auto;}
.offer-review-box .right-s{text-align:right;}
.offer-review-box .discont-lbl{color:#FF0000;}
.offer-review-box .discont-lbl p{line-height:1; font-size:20px; font-weight:700;}
.offer-review-box .discont-lbl p ~ p{font-size:14px; font-weight:400;}
.offer-review-box .view-all{color:#0700C5; text-decoration:none;}
.offer-review-box .view-all:hover{text-decoration:underline;}
.offer-review-box .owl-theme .owl-nav{position:absolute; margin:0; top:-26px; left:auto; right:0;}
.offer-review-box .owl-theme .owl-nav [class*="owl-"]{height:14px; width:9px;}
.offer-review-box .owl-theme .owl-nav [class*="owl-"] span{display:none;}
.offer-review-box .owl-carousel .owl-nav button.owl-next{background-position:-367px -16px;}
.offer-review-box .owl-carousel .owl-nav button.owl-prev{background-position:-358px -16px; position:relative; left:-5px;}
.offer-review-box .owl-dots{left:auto; right:20px; top:-20px;counter-reset:slides-num;position:absolute;margin-top:0px; display: none;}
.offer-review-box .owl-dots:after{font-size:13px; font-weight:700;content: counter(slides-num);display: inline-block; position:relative; top:-3px;vertical-align: middle;padding-left:0; right:-1px;}
.offer-review-box .owl-dot{display: inline-block;counter-increment: slides-num;margin-right: 5px;}
.offer-review-box .owl-theme .owl-dots .owl-dot span{opacity:0; margin:0; width:0;}
.offer-review-box .owl-dot.active:before {font-size:13px; font-weight:700;content: counter(slides-num) " /";display: inline-block;vertical-align: middle;position: absolute;left:-2px;top: 0;}

.offer-review-box .user-pic-name{margin-bottom:10px;}
.offer-review-box .user-pic-name .user-pic{height:32px; width:32px; border-radius:100%; overflow:hidden; margin-right:10px;}
.offer-review-box .user-pic-name .user-pic img{height:100%;}
.offer-review-box .right-s .how-m-star p{font-weight:700;}
.offer-review-box .right-s .how-m-star p ~ p{font-size:12px; font-weight:normal; color:#808080;}
.offer-review-box .user-pic-name .user-name p{font-weight:400; font-size:12px;}
.offer-review-box .store-name-review.box-t h2{font-size:16px;}
.offer-review-box .store-name-review.box-t p{font-weight:400;}

.back{padding:20px 0;}
.back .to-home{ font-size:18px;}
.ic-back-arrow{position:relative; padding:0 0 0 45px;}
.ic-back-arrow::before{position:absolute; content:""; left:0; top:0; bottom:0; height:18px; width:26px; background-position:-245px -36px; margin:auto;}
.store-info{padding:0 0 25px;}
.store-info .store-details{padding:8px 8px 8px 20px; border:1px solid #DFDFDF; background-color:#F6F6F6;} 
.store-details .store-full-de{width:calc(100% - 450px); margin-right:35px;}
.store-details .store-full-de h1{font-size:30px; line-height:1;}
.store-details .store-full-de .star-r{margin:8px 0;}
.store-details .store-full-de .star-r .star-img{transform:scale(1.7);}
.store-details .store-full-de .star-r .star-icon{margin-left:15px;}
.store-details .store-full-de .star-r .star-img + .star-img {margin-left:20px;}
.store-details .store-full-de .total-review{font-size:26px; margin-left:50px;}
.store-details .store-address{margin:10px 0 0 0;}
.store-details .store-address p{color:#7B7B7B; font-size:17px; padding:0 0 0 40px;}
.store-details .store-address p + p{margin-top:14px;}
.store-details .store-address .ic-identy-icon{position:relative;}
.store-details .store-address .ic-identy-icon::before{position:absolute; height:22px; width:22px; display:inline-block; content:""; left:0; top:2px;}
.store-details .store-address .ic-phone::before{background-position:-273px -34px;}
.store-details .store-address .ic-address::before{background-position:-301px 0;}
.store-full-de .btn-order-now{background-color:#000; line-height:1; color:#fff; font-size:20px; padding:13px 35px; border-radius:30px; border:2px solid #000;}
.store-full-de .btn-order-now:hover{background-color:#fff; color:#000;}
.store-details .store-full-de .star-r p{font-size:28px;}
.store-details .store-img-de{height:244px; width:415px; overflow:hidden; border-radius:20px;}
.store-details .store-img-de img{height:100%;}
.reviews-section{padding:20px 0 40px;}
.in-detail-review{max-width:980px; width:100%;}
.in-detail-review .title-select{margin:0 0 30px 0;}
.in-detail-review .title-select h3{font-size:22px; line-height:1;}
.in-detail-review .select-here{width:190px;}
.in-detail-review .select-here::before{background-position:-305px -29px; height:5px; width:11px; display:inline-block; position:absolute; content:""; left:auto; right:25px; bottom:0; top:0; margin:auto;}
.in-detail-review .custom-select{text-align:center; border:1px solid #707070; border-radius:12px; padding:10px; height:auto; background:none; cursor:pointer;}
.in-detail-review .custom-select:focus{box-shadow:none;}
.indiv-rating-review + .indiv-rating-review{margin-top:45px;}
.indiv-rating-review .user-info{width:105px;}
.indiv-rating-review .user-photoes{height:90px; width:90px; border-radius:100%; overflow:hidden; margin:0 auto 10px;}
.indiv-rating-review .user-photoes img{height:100%;}
.indiv-rating-review .user-name{margin-top:10px;}
.indiv-rating-review .user-name p{font-size:14px; line-height:1.2;}
.indiv-rating-review .user-name p ~ p{color:#666; margin-top:15px;}
.indiv-rating-review .user-comments{width:calc(100% - 160px); margin-left:55px;}
.indiv-rating-review .user-comments h2{font-size:24px; font-weight:400;}
.indiv-rating-review .user-comments .star-r{margin:10px 0 30px;}
.indiv-rating-review .user-comments .date-time{margin-left:50px;}
.indiv-rating-review .user-exp{margin-bottom:25px;}
.indiv-rating-review .user-exp p{color:#4C4C4C; font-size:14px; line-height:24px;}
.indiv-rating-review .like-count p{color:#4C4C4C; font-size:14px;}
.indiv-rating-review .like-count .ic-like{width:13px; height:12px; background-position:-304px -42px; display:inline-block; top:2px; position:relative; margin-right:5px;}
div#products-div {
  border-radius: 5px;
  width: 280px;
  height: 370px;
  overflow: overlay; 
  position: fixed;
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  right: 5px;
  z-index: 99;
  box-shadow:5px 7px 7px 10px rgba(0,0,0,0.2);
}

img.pro-image{
  border-radius: 100%;
  width: 80px;
  height: 80px
  }
.product{
  text-align: center;
  width: 120px;
  margin: 10px; 
}
.list-of-stores-es{padding:0 0 30px;}
.left-s-filter{width:260px; background-color:#F3F3F3; border:1px solid #DEDEDE; padding:15px 0;}
.name-of-filters{padding:0 15px;}
.name-of-filters h2{font-size:16px; margin-bottom:15px;}
.name-of-filters .custom-control-label::before{height:20px; width:20px; border-radius:0x; top:3px;  border-radius:3px; border:2px solid #707070; background-color:#fff;}
.name-of-filters .form-ontrol{width:100%; height:auto; padding:7px 10px; color:#000; border-radius:4px; border:2px solid #707070;}
.name-of-filters .custom-radiobox .custom-control-label::before{height:20px; width:20px; border-radius:0x; top:3px;  border-radius:100%;}
.name-of-filters .custom-control-label{padding-left:12px; user-select:none; color:#000;}
.name-of-filters .checkbox-line a{text-decoration:underline; color:#1428BF;}
.name-of-filters .checkbox-line a:hover{text-decoration:none;}
.name-of-filters .checkbox-line{padding:0 15px;}
.name-of-filters .custom-control-label:focus,
.name-of-filters .custom-control-input{box-shadow:none; border:none;}
.name-of-filters .custom-control-input:checked ~ .custom-control-label::before{background-color:#000; border-color:#000;}
.name-of-filters input:focus ~ .custom-control-label::before,
.name-of-filters .custom-control-input:focus:not(:checked) ~ .custom-control-label::before{box-shadow:none;}
.name-of-filters .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{background:none; background-color:transparent; display: inline-block; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); height:12px;left:-15px; top:5px; width:7px;border-bottom:2px solid #fff; border-right:2px solid #fff;}
.name-of-filters .link-view-more{text-decoration:underline;}
.name-of-filters .link-view-more:hover{text-decoration:none;}
.name-of-filters .pop-area-link:hover{text-decoration:underline;}
.form-group{margin-bottom:20px;}
.name-of-filters .custom-radiobox .custom-control-input:checked ~ .custom-control-label::after{background-color:#fff; display: inline-block;  height:8px;left:-16px; top:9px; width:8px; border-radius:100%;}
hr{border-color:#ccc; margin:20px 0;}

.right-s-store-le{width:calc(100% - 280px); margin-left:20px;}
.listing-store-s{width:675px;}
.offer-code-s{width:160px; height:160px; background-color:#878787; position:relative;}
.offer-code-s::after{position:absolute; content:""; height:138px; width:138px; left:0; bottom:0; right:0; top:0; margin:auto; border:3px dashed #fff;}
.offer-code-s p{font-size:20px; line-height:1.4;}
.right-s-store-le .repeat-div + .repeat-div{margin-top:40px;}

.listing-store-s .store-details .store-img-de{width:250px; height:180px;}
.listing-store-s .store-details .store-full-de{width:calc(100% - 270px); margin:0 0 0 20px;}
.listing-store-s .store-details .store-full-de h2{font-size:22px;}
.listing-store-s .store-details .store-full-de .star-r p{font-size:18px;}
.listing-store-s .store-details .store-full-de .star-r .star-img{transform:scale(1);}
.listing-store-s .store-details .store-full-de .star-r .star-img + .star-img{margin-left:0;}
.listing-store-s .store-details .store-full-de .star-r .star-icon{margin-left:6px; top:0}
.listing-store-s .store-details .store-full-de .total-review{margin-left:25px; font-size:18px; position:relative; top:-2px;}
.listing-store-s .store-details .store-address .ic-identy-icon::before{transform:scale(0.6); top:-2px}
.listing-store-s .store-details .store-address{margin:15px 0;}
.listing-store-s .store-details .store-address p{font-size:13px; line-height:1; padding:0 0 0 30px;}
.listing-store-s .store-details .store-address p + p{margin-top:10px;}
.listing-store-s .store-full-de .btn-order-now{display:inline-block; font-size:14px; padding:12px 30px;}

footer{background-color:#F5F5F5; border-width:1px 0; border-style:solid; border-color:#EFEFEF; padding:15px;}
footer .footer-links li{display:inline-block;}
footer .footer-links li + li{margin-left:35px;}
footer .footer-links li a{color:#707070; font-size:14px;}
footer .footer-links li a:hover{color:#000;}


@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* clg-1199 
cmd-991
csd-767
ccsd-580
cxsd-479 */

@media (max-width: 1920px) and (min-width:1600px) {
}

@media (max-width:1300px) {
  .offer-review-box{width:285px;}
}

@media (max-width:1199px) {
  .clg-flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .container-fluid{padding-left:25px; padding-right:25px;}
  .offer-review-box{width:48%; margin:15px 0;}
  .store-details .store-address{margin:15px 0;}
  .store-details .store-full-de h1{font-size:24px;}
  .store-details .store-full-de .star-r p{font-size:22px;}
  .store-details .store-full-de .star-r .star-img{transform:scale(1.5);}
  .store-details .store-full-de .star-r .star-icon{top:0}
  .store-details .store-full-de .star-r .star-img + .star-img{margin-left:10px;}
  .store-details .store-full-de .total-review{font-size:20px;}
  .in-detail-review{max-width:100%;}
  .store-details .store-full-de .star-r{margin:15px 0 0 0;}
  .left-s-filter{width:200px;}
  .right-s-store-le{width:calc(100% - 220px);}
  .listing-store-s .store-details .store-img-de{width:190px; height:150px;}
  .listing-store-s{width:525px;}
}

@media (max-width:991px) {
  .cmd-d-none{display:none;}
  .cmd-d-block{display:block;}
  .left-side-bar{display:none;}
  .right-side-bar{width:100%;}
  .offer-review-box{width:31%;}
  .menu-icon-mob{position:absolute; left:20px; top:23px;}
  .menu-icon-mob .ic-mob-icon{width:35px; height:23px; background-position:-340px -93px; display:block;}
  header{padding:0;}
  .left-side-bar.mob-menu{display:block; position:fixed; left:0; z-index:99; width:320px;}
  body.scroll-disable{overflow:hidden; position:relative;}
  .close-menu{height:14px; width:14px; display:inline-block; background-position:-305px -62px; position:absolute; left:auto; top:20px; right:20px; z-index:99;}
  .left-side-bar ul{margin-top:0px;}
  .close-p{background-color:#F9FAFC; height:30px;}
  .store-details .store-img-de{width:265px; height:164px;}
  .store-details .store-full-de{width:calc(100% - 300px)}
  .left-s-filter{display:none;}
  .right-s-store-le{width:100%; margin:0;}
  .listing-store-s .store-details .store-full-de h2{font-size:20px;}
  .back .container{position:relative;}
  .filtrar-overlay{position:fixed; height:100vh; width:100%; background-color:rgba(0,0,0,0.5); top:0; left:0; z-index:99}
  .fliter-icon{position:absolute; left:auto; right:15px; height:30px; width:30px; top:0; bottom:0; margin:auto; display:block; background-position:-300px -90px; cursor:pointer;}
  .left-s-filter.show-filtrar-a{display:block; width:calc(100% - 30px); margin:auto; height:calc(100% - 80px); overflow:auto; position:fixed; top:50px; left:0; right:0; z-index:9; }
  .fi-inside-div{padding:20px; background-color:#fff; position:relative; z-index:999; overflow:auto;}
  .left-side-bar .filtrar-overlay{width:calc(100% - 320px); left:320px;}
}

@media (max-width:767px) {
  div#products-div {
    display: none;
  }
  .csd-flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .csd-d-block{display:block;}
  .offer-review-box{width:48%; margin:15px 0;}
  .search-suggestions .btn-secondary{border-radius: 0}
  .search-suggestions .voice-search{display:none;}
  .store-details .store-full-de{width:100%; margin-bottom:30px;}
  .store-details .store-img-de{width:100%;}
  .store-details .store-full-de .star-r p{font-size:18px;}
  .store-details .store-full-de .star-r .star-img{transform:scale(1);}
  .store-details .store-full-de .star-r .star-img + .star-img{margin:0;}
  .store-details .store-full-de .total-review{font-size:16px;}
  .in-detail-review .title-select h3{display:block; font-size:20px;}
  .indiv-rating-review .user-comments{width:100%; margin:20px 0 0 0;}
  .indiv-rating-review .user-info{width:auto; margin:0 auto;}
  footer{display:none;}
  header .category .ic-category{display:none;}
  header .login{margin:0;}
  .offer-code-s{width: -webkit-fill-available; margin-left: 10px; height: 150px;}
  .mob-cat-div{margin:20px 0;}
  .mob-cat-div .item{text-align:center; width: 200px;background-color:#e5e5e5;border-radius:20px; color: #000;}
  .mob-cat-div .item a{ padding:4px 20px; display:inline-block;}
  .search-suggestions.open-suggestions.suggestions-des{position:fixed !important; top:0; width:100%; right:0; margin:auto; left:0; height:100vh; background-color:#fff; z-index:99;}
  .search-suggestions.suggestions-des .form-control,
  .search-suggestions .form-control{border-radius:0 !important;}
  .search-suggestions.suggestions-des .suggestions-results{border-radius:0; max-height: 270px; overflow-y: scroll; box-shadow:none;}
}
@media (max-width:580px) {
  .ccsd-flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .offer-review-box{width:100%; margin:0;}
  .offer-review-box + .offer-review-box{margin-top:25px;}
  .listing-store-s .store-details .store-img-de{width:100%;}
  .listing-store-s .store-details .store-full-de{width:100%; margin:20px 0 0 0;}
}

@media (max-width:479px) {
  .search-part .brand-name{width:170px; margin:40px auto 30px;}
  .cxsd-flex-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap;}
  .store-details .store-full-de .total-review,
  .indiv-rating-review .user-comments .date-time,
  .listing-store-s .store-details .store-full-de .total-review{margin:10px 0 0 0; display:block; width:100%;}
  .store-details .store-full-de h1{font-size:20px;}
  .in-detail-review .title-select h3{font-size:16px;}
  .indiv-rating-review .user-comments h2{font-size:18px;}
  .left-side-bar .filtrar-overlay{width:calc(100% - 250px); left:250px;}
  .left-side-bar.mob-menu{width:260px;}
}

li.active-menu a{color: #ffffff !important; background-color: black;}

.chat-bot-button-container{
  display: flex;
  justify-content: flex-end;
}
.chat-bot-container{
  display: flex;
  justify-content: flex-end;
  height: 20px;  
}
.padding-20{
  padding: 20px;
}
.activity-selector{
  background: #f2f2f2;
  width: calc(100% - 50px);
  border-radius: 40px;
  padding: 10px 30px;
  font-size: 11px;
  font-weight: 500;
}
.chat-input{
  width: calc(100% - 45px); 
  height: 100%;
  border: none;
  padding-left: 10px;
}
.chat-input-div{
  position: relative;
  top: 110px;
  margin: 20px;
  width: calc(100% - 40px);
  height: 40px;
  border: 1.5px solid #797979;
  border-radius: 5px;
  box-sizing: border-box;
}
.small-icon{
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #989898;
}
.activity1-button{
  background: #000;
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  width: 160px;
}
.activity2-button{
  background: #000;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  width: 135px;
  padding: 10px 20px;
  border-radius: 30px;
}
.flex{
  display: flex;
} 
.activitys{
  padding: 20px;
}
.space-between{
  justify-content: space-between;
  flex-wrap: wrap;
}
.chatbot-cross{
  text-align: right;
  padding: 10px;
}
.chatbot-cross-pointer{
  cursor: pointer;
}
.chatbot-heading{
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.chat-bot{
width: 350px;
height: 500px;
position: relative;
z-index: 9999999;
bottom: 362px;
box-shadow: 5px 5px 7px 10px rgba(0,0,0,0.2);
border-radius: 10px;
border-bottom-left-radius: 0; 
border-bottom-right-radius: 0; 
background: #ffff;
}
.chat-bot-button button{
  width: 100%;
  height: 100%;
  background-color: #313131;
  border: none;
  opacity: .9;
  top: 1  0px;
  right: 10px;
  position: relative;
  border-radius: 100%;
}
.chat-bot-button{
  width: 76px;
  height: 76px;
  z-index: 99999;
}
